params {
    //global
    output = "/data/crone/guide_design/data/test_output"
    //parallel_chopchop
    bedfile = "${projectDir}/test/48_targets.bed"
    flank = 500
    distance = 4000
    threads = 8
    chopchop_path = "/data/crone/guide_design/repo/chopchop/chopchop.py" 
    run_chopchop_path = "${projectDir}/scripts/run_chopchop.sh"
    //filter_chopchop
    min_gc = 20
    max_gc = 80
    max_self_complementarity = 0
    min_efficiency_score = 0.3
    max_mm0 = 0
    max_mm1 = 1
    max_mm2 = 1
    max_mm3 = 10
    filter_chopchop_path = "${projectDir}/scripts/filter_chopchop.py"
    //parallel_crispron
    run_crispron_path = "${projectDir}/scripts/run_crispron.sh"
    bedtools_path = "/home/crone/tools/bedtools"
    crispron_path = "/home/xinleee/TL-crispron/bin/CRISPRon.sh"
    //filter_crispron
    filter_crispron_path = "${projectDir}/scripts/filter_crispron.py"
    score_threshold = 10
}

conda.enabled = true

